* {
    font-family: JetBrainsMono Nerd Font;
    margin: 0;
    padding: 0;
}

#workspaces button {
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    border-bottom: 2px solid white;
}

#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#clock,
#custom-power {
    margin-right: 2px;
}